<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Kho Hàng</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/WarehouseManagement.css" />
    <script src="~/js/indexWarehouseProduct.js"></script>

</head>
<body>
    <h1>Warehouse Management</h1>

    <!-- Nút Create -->

    <!-- Danh sách kho hàng -->
    <div id="warehouse-list">
        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th>WarehouseProductId</th>
                    <th>WarehouseName</th>
                    <th>Location</th>
                    <th>Name Product</th>
                    <th>Stock Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="warehouse-table-body">
                <!-- Dữ liệu kho hàng sẽ được thêm vào đây -->
            </tbody>
        </table>
    </div>

  
</body>
</html>
