@{
    ViewBag.Title = "Add Category";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/addcategory.css" />
    <script src="~/js/createCategory.js"></script> 


</head>
<body>
    <h1>@ViewBag.Title</h1>

    <div id="category-form">
        <label for="categoryName">Category Name:</label>
        <input type="text" id="categoryName" /><br>
        <span id="categoryName-error" class="error-message" style="color:red;"></span>

        <label for="description">Description:</label>
        <input type="text" id="description" /><br>
        <span id="description-error" class="error-message" style="color:red;"></span> 

        <button id="save-category">Save Category</button>
    </div>

  
</body>

</html>
